@font-face {
    font-family:'ptmono';
    src: url('../fonts/PTMono-Regular.ttf') format('truetype');
    font-style:normal;
}

@font-face{
    font-family:signika;
    src: url('../fonts/SignikaNegative-Regular.ttf') format('truetype');
    font-style:normal;
}

@font-face {
    font-family: 'delicioushandrawn';
    src: url('../fonts/DeliciousHandrawn-Regular.ttf') format('truetype');
    font-style:normal;
}